/* Background pattern from subtlepatterns.com */
/* http://subtlepatterns.com/dark-embroidery/ */
body {
  background-image:url(../images/dark_embroidery.png);
  background-attachment: fixed;
}

/*  dark violet #6F5499  light violet #CDBFE3 */

.panel-default {
  border-color: #6F5499 ;
  background-color: #CDBFE3;
  color: white;
}

.panel-default .panel-heading {
  border-color: #6F5499 ;
  background-color: #6F5499;
  color: white;
}

.well {
  background-color: #CDBFE3;
  border-color: #6F5499 ;
  border-width: 3px;
}

.affix {
  top: 20px;
  width: 213px;
}

@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }         
}

.page-header {
  padding-top: 20px;
  margin: 0px 0px 20px;
}

li ul {
  display: none;
}

li.active ul {
  display: block;
}

h2 {
  height: 500px;
}